{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
<div class="bg-white p-6 rounded shadow max-w-sm w-full">

    {% if messages %}
    <div class="mb-3">
        {% for message in messages %}
        <p class="text-center text-red-500 text-sm font-semibold">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <form method="post" class="space-y-3">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username"
               class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
               required>

        <input type="password" name="password" placeholder="Password"
               class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
               required>
        <input type="password" name="confirm_password" placeholder="Confirm Password"
               class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
               required>

        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white p-2 rounded">
            Update Password
        </button>
    </form>
</div>
</body>
</html>
