{% extends 'base.html' %}

{% block title %}{{ product|default:"Add" }} Medicine{% endblock %}

{% block main_content %}
<div class="max-w-lg mx-auto mt-24 bg-white p-6 rounded shadow">
    <h2 class="text-xl font-bold text-center mb-4 text-blue-700">
        {% if product %}Update{% else %}Add{% endif %} Medicine
    </h2>
    <form method="POST" class="space-y-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
            {% if product %}Update{% else %}Save{% endif %}
        </button>
    </form>
</div>
{% endblock %}
