/*.pyc
/__pycache__/
/Home/*.pyc
/Home/__pycache__/
/Home/migrations/*.pyc
/Home/migrations/__pycache__/
/hospitalmanagement/*.pyc
/hospitalmanagement/__pycache__/
/Patient/*.pyc
/Patient/__pycache__/
/Patient/migrations/*.pyc
/Patient/migrations/__pycache__/
/userauth/*.pyc
/userauth/__pycache__/
/userauth/migrations/*.pyc
/userauth/migrations/__pycache__/
/Payments/__pycache__/
/Payments/migrations/__pycache__/
/Payments/migrations/*.pyc
/venv/
app.py
country.csv
country_state.py
country_state.csv